*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: black;
    width: 500px;
    height: 840px;
    border-radius: 50px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display{
    height: 250px;
    width: 100%;
    text-align: right;
    padding: 40px;
    font-size: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 180px;
}

.buttons-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 45px;
}

.button:hover{
    background-color: #535353;
}

.btn-gray{
    background-color: #a5a5a5;
    color: black;
}

.btn-orange{
    background-color: #f1a33c;
}

.btn-darkgray{
    background-color: #333;
}

.btn-zero{
    border-radius: 55px;
    grid-column: 1/ span 2;
    width: 215px;
    justify-content: flex-start;
    padding-left: 43px;
}